/* Estrutura do site */
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS",Helvetica,sans-serif;
}


#container img#logo{
	margin-top: 20px;
	float: left;
}

#container img#detalhe-topo{
	float: right;
}

#container #topo{
	height: 200px;
	background: black url(../imagens/fundo.png) repeat-x;
}

/* barra de navegação */

#menu{
	float: left;
	width: 750px;
	margin: ;
}

#menu ul {
	float: left;
	list-style: none;
	margin-top: 30px;
}

#menu ul li{
	float: left;
}

a{
	text-decoration: none;
}

#menu ul a{
	color: #fff;
	display: block;
	background: #b10333 url(../imagens/divisor.png) no-repeat center right;
	padding:10px 12px;
}

#menu a:hover{
	color: #69001d;
}

#menu ul a.atual{
	color: #fff;
	background-color: #de003e;
}

#menu ul a.ultimo{
	background-image: none;
}

/* conteudo do site */

.clear{
	clear: both;
}
#principal{
	clear: both;
	width: 720px;
	background-image: none;
	background-color: gray;
	margin: 0 auto;
}

